<section id="links">
  <h2>About Me</h2>
  <p>
  </p>

  <h3>Technical Leadership</h3>
  <p>
  </p>

  <h3>Full Stack Engineer</h3>
  <p>
  </p>

  <h3>Systems Software Engineer</h3>
  <p>
  </p>

  <h3>Well-Rounded Software Developer</h3>
  <p>
  </p>
</section>
