<section id="links">
  <h2>About Me</h2>
  <p>
  I am <em>passionate</em> about making software, and with over <em>20 years
  experience</em> leading and engineering <em>commercial-grade</em> software
  products, I've been fortunate to work on a broad range of technologies in
  multiple capacities.  I currently focus on architecture and development in <em>C,
  C++, and Ruby on Rails,</em> and am comfortable working with other technologies,
  when needed.
  </p>

  <p>
  I stongly prefer <em>multi-platform development,</em> and typically
  cross-develop for <em>Windows, Mac OS X, and Unix/Linux</em> systems.  I
  fundamentally believe that <em>good software</em> should be designed
  independently of the operating system and natively built to make best use of each
  O/S.  This is more than just portable look-and-feel user interfaces or
  least-common-denominator software, but is fully-functional support of each
  platform in the most <em>native</em> and natural form for the platform.
  </p>

  <p>
  Automated testing, particularly <em>unit testing,</em> is a standard part of my
  development process.  Good software built on verified components is far more
  reliable and produces the <em>high quality</em> necessary for commercial products.
  Whether testing occurs before, during, or after development is subjective; the
  important thing is that thorough automated testing is performed at the code level.
  </p>

  <p>
  I think and act like an <em>entrepreneur,</em> and I'm typically seen as a
  <em>go-getter</em> and a <em>highly creative</em> type.  I tend to <em>take
  ownership</em> of my products, and make myself both <em>responsible and
  accountable</em> for their success.
  </p>

  <h3>Technical Leadership</h3>
  <p>
  </p>

  <h3>Full Stack Engineer</h3>
  <p>
  </p>

  <h3>Systems Software Engineer</h3>
  <p>
  </p>

  <h3>Well-Rounded Software Developer</h3>
  <p>
  </p>
</section>
