<section id="gandysoft">
  <h2><a href="http://gandysoft.com">GandySoft.com</a></h2>
  <div class="columns-2">
  <p>
  <em>GandySoft PAIRS</em> is a full-function Software-as-a-Service (SaaS) product
  providing revolutionary Real Estate Appraisal analytics.  The game-changing
  solution that PAIRS brings to the appraisal market is the combination of using
  <em>full market data</em>, a range of traditional estimation methods, a
  proprietary <em>iterative matched pairs</em> method, <em>interactive statistical
  modeling</em> tools, dynamic filtering methods to eliminate bad and anomalous
  data, and <em>full decision-making power for the appraiser.</em>  A properly
  trained appraiser can produce results that are shockingly good in about 5 minutes
  or so.  Literally, no other solution on the market comes close to matching the
  <em>accuracy, speed, flexibility, and reporting</em> capabilities that PAIRS
  provides at a fraction of the cost.
  </p>
  </div><!--

  --><div class="columns-2">
  <p class="youtube-container">
  <div class="youtube-video">
    <iframe frameborder="0" allowfullscreen="allowfullscreen"
            src="https://youtube.com/embed/Vo4-7tGlHIM?autoplay=0&controls=2&showinfo=0&enablejsapi=0">
    </iframe>
  </div>
  </p>
  </div>

  <h2>Flexible Workflow</h2>

  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/analysis-progress.png">
    <figcaption>Analysis Progress</figcaption>
  </div><!--

  --><div class="columns-2-3">
  <p>
  PAIRS provides a flexible workflow process that provides structure to the
  analysis process, but also allows the appraiser to quickly jump to any portion of
  the analysis process to view or apply changes.  The primary workflow mechanism
  also serves as a progress indicator for the analysis, as shown in the first
  screenshot.
  </p>

  <p>Each page contains <em>Previous:</em> and <em>Next:</em> links for moving
  relatively through the workflow, as well as being able to hop out of the workflow
  using the <em>breadcrumbs</em> links (see: <em>You are here:</em> on any page).
  </p>
  </div>

  <h2>Full Market Analysis</h2>

  <p>
  Appraisers historically use a very small number of <em>comparable sales</em>
  (known as <em>comparables</em> or <em>comps</em>), used to demonstrate (or
  sometimes justify) the assessment of value for a <em>subject property,</em> the
  real property being appraised.  This approach to selecting comps, often using only
  3 to 5 samples, leads to a well-understood quality degradation known as
  <em>selection bias,</em> sometimes referred to as <em>cherry-picking data</em> to
  get the pre-conceived results.
  </p>

  <p>
  GandySoft PAIRS <em>eliminates selection bias</em> by using methods that work well
  with the larger sets of data that encompass the <em>entire market</em> of
  comparable sales.  Appraisers can choose to upload all sales records and current
  listings from their MLS, typically in CSV format.  PAIRS will automatically
  recognize the fields from the CSV, normalize the data values, convert disparate
  fields into discrete <em>property features,</em> and eliminate unnecessary or
  unused fields from the analysis.
  </p>

  <p>
  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-1-upload-instructions.png">
    <figcaption>Upload instructions</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-2-data-browser.png">
    <figcaption>Data browser</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-3-fields.png">
    <figcaption>Fields manager</figcaption>
  </div>
  </p>

  <p>
  This provides a broader set of "normal" sales for the market, which greatly
  <em>improves statistical reliability</em>, but also introduces the possibility of
  anomalous and/or bad MLS data that must be dealt with.  MLS data is notoriously
  unreliable, and the relatively low quality of the data poses a major challenge to
  any form of analysis.  PAIRS provides a variety of <em>dynamic filtering</em>
  mechanisms, which gives the appraiser the ability to remove (filter out) data
  that's unreliable, wrong, or truly not comparable with the subject property.
  </p>

  <h2>Subject Details</h2>

  <div class="columns-2-3">
  <p>
  As the <em>appraiser chooses</em> dynamic filters and fields, PAIRS will calculate
  key information automatically, including the <em>Annualized Market Rate,</em> the
  prior <em>12-month Market Rate,</em> and statistical results for all selected
  property features.  The appraiser can <em>override automatic calculations</em> at
  will, giving complete control over the final analysis; all overrides are accounted
  in the final reports.
  </p>

  <p>
  The <em>Subject Details</em> page shows of the <em>distributions and value
  trends</em> for the selected property features, <em>choose the property
  features</em> to include in the analysis, as well as the ability to <em>apply
  range filters</em> for some property features.  As changes are made, the
  <em>graphs automatically update</em> to reflect the current distributions and
  trends, providing <em>immediate feedback</em> to make decisions quickly and
  easily.
  </p>

  <p>
  PAIRS allows the appraiser to <em>select any number of property features</em> to
  analyze for the market, giving the ability to <em>test and account</em> for any
  property feature's <em>contribution to market value.</em>  Common property
  features that contribute to value would be an extra bedroom, an additional garage
  bay, or a pool; however the ability to analyze the contribution of exceptional,
  <em>high-impact property features</em> such as an <em>ocean or lake view, golf
  course frontage, or condo floor level</em> give PAIRS a level of analytic control
  that's truly leading-edge.
  </p>

  </div><!--

  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/subject-details-1-no-filter.png">
    <figcaption>Subject details</figcaption>

    <p></p>

    <img class="screenshot" src="/images/gandysoft/subject-details-2-livable-area-filter.png">
    <figcaption>Livable area filter</figcaption>
  </div>

  <h2>Market Analysis and Market Conditions</h2>

  <p>
  Part of producing an appraisal includes analyzing overall trends in the market.
  PAIRS provides over <em>40 market charts,</em> capturing <em>trends over time</em>
  for each type of chart.  These charts and the calculated values will be used to
  establish the overall market conditions that will <em>influence the adjustment
  calculations</em> in subsequent workflow steps.
  </p>

  <p>
  <div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-1-default.png">
    <figcaption>Market Charts</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-2-chart-selections.png">
    <figcaption>Chart types</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-3-custom-spline.png">
    <figcaption>Spline charts</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-4-custom-line-and-scatter.png">
    <figcaption>Line and scatter charts</figcaption>
  </div>
  </p>

  <p>
  Market charts can be configured to display in a variety of ways, including choice
  of <em>any of 11 chart statistics,</em> the <em>chart view</em> (8 views
  available), the <em>data rollup</em> to use, the <em>preferred trendline
  calculation,</em> and preference to display trendlines on the chart, as well as a
  number of other chart configuration options.  Charts are <em>automatically
  recalculated</em> as options are changed, allowing <em>rapid experimentation</em>
  to be used to aid decision-making.  Any number of charts may be added, even
  duplicate chart types with different choices for the statistic, view, and rollup.
  </p>

  <p>
  <div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-5-statistic-selection-actual.png">
    <figcaption>Statistic options</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-6-view-selection-line.png">
    <figcaption>View options</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-7-rollup-selection-area.png">
    <figcaption>Rollup options</figcaption>
  </div><!--
  --><div class="columns-4">
    <img class="screenshot" src="/images/gandysoft/market-charts-8-spline-without-trendlines.png">
    <figcaption>Trendline removed</figcaption>
  </div>
  </p>

  <p>
  The <em>Market Conditions</em> is an optional form-based chart that's designed to
  emulate the <em>Fannie Mae Form 1004MC.</em>  The form is a text-based summary of
  much of the information provided in graphical form on the other charts.  All
  information contained in the <em>1004MC is automatically calculated</em> based on
  the current data filters and the user's preferences.
  </p>

  <p>
  Various fields on the form 1004MC are designated for specific remarks; PAIRS will
  <em>automatically draft remarks</em> using pre-defined <em>remarks templates.</em>
  A complete set of default <em>remarks templates</em> are provided with PAIRS, and
  the appraiser can customize and override the remarks templates in their <em>user
  profile.</em>  If a custom remarks template exists in the user's profile, it will
  be used; otherwise, the default remarks template will be used.  The appraiser may
  also edit the remarks directly in the 1004MC to reflect actual conditions present
  in the data, but not addressed in the remarks template.  Editing the remarks will
  automatically render the template with actual values once the text caret leaves
  the remarks field.
  </p>

  <p>
  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/market-charts-9-1004mc-edit-template.png">
    <figcaption>1004MC edit remarks template</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/market-charts-10-1004mc-render-template.png">
    <figcaption>1004MC render remarks template</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/market-charts-11-1004mc-condo-project.png">
    <figcaption>1004MC select condo project</figcaption>
  </div>
  </p>

  <p>
  Once the changes to the market charts are complete, all calculations and remarks
  are saved.  The 1004MC will be added to the <em>Market Charts Report</em>, if
  chosen, and the market calculations and remarks may be copied directly to the
  actual Form 1004MC, if required for the appraisal.
  </p>

  <h2>Reconciliation and Reporting</h2>

  <p>
  Unique to PAIRS, the appraiser has the ability to <em>reconcile</em> estimated
  values found during the analysis process, based on the individual appraiser's
  reconciliation policy.  This occurs on the <em>Define Adjustments</em> page, and
  must be completed before advancing to the reporting pages.
  </p>

  <p>
  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/define-adjustments.png">
    <figcaption>Reconciliation</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/validate-adjustments.png">
    <figcaption>Adjustments Report</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/workfile-report.png">
    <figcaption>Workfile report</figcaption>
  </div>
  </p>

  <p>
  The reports provide validations that all criteria have been successfully met, by
  indicating issues in <span style="color: red">red</span>, as well as displaying
  the <em>PAIRS Validation Stamp</em> at the top/right of the report when all steps
  have been completed successfully and adjustment values are consistent; adjustment
  values may only be <em>checked for consistency, not correctness,</em> as only the
  appraiser can make a value judgement on the correctness of an adjustment value.
  Once complete, these reports can be captured and included in the final appraisal
  as attachments supporting the adjustments applied to reach an appraised value.
  </p>

</section>

<script type="text/javascript">
  jQuery(document).on('turbolinks:load', onGandySoftShowReady);
</script>
