<section id="gandysoft">
  <h2><a href="http://gandysoft.com">GandySoft.com</a></h2>
  <div class="columns-2">
  <p>
  <em>GandySoft PAIRS</em> is a full-function Software-as-a-Service (SaaS) product
  providing revolutionary Real Estate Appraisal analytics.  The game-changing
  solution that PAIRS brings to the appraisal market is the combination of using
  <em>full market data</em>, a range of traditional estimation methods, a
  proprietary <em>statistical modeling</em> method, and dynamic filtering methods
  to eliminate bad and anomalous data.  When used by a properly trained appraiser,
  the results are shockingly good.  With the simplified workflow process, most
  appraisal analyses can be finished in 5 minutes or less.  Literally, no other
  solution on the market comes close to matching the <em>accuracy, speed,
  flexibility, and reporting</em> capabilities that PAIRS provides at a fraction of
  the cost.
  </p>
  </div><!--

  --><div class="columns-2">
  <p class="youtube-container">
  <div class="youtube-video">
    <iframe frameborder="0" allowfullscreen="allowfullscreen"
            src="https://youtube.com/embed/Vo4-7tGlHIM?autoplay=0&controls=2&showinfo=0&enablejsapi=0">
    </iframe>
  </div>
  </p>
  </div>

</section>
