<section id="gandysoft">
  <h2><a href="http://gandysoft.com">GandySoft.com</a></h2>
  <div class="columns-2">
  <p>
  <em>GandySoft PAIRS</em> is a full-function Software-as-a-Service (SaaS) product
  providing revolutionary Real Estate Appraisal analytics.  The game-changing
  solution that PAIRS brings to the appraisal market is the combination of using
  <em>full market data</em>, a range of traditional estimation methods, a
  proprietary <em>iterative matched pairs</em> method, <em>interactive statistical
  modeling</em> tools, dynamic filtering methods to eliminate bad and anomalous
  data, and <em>full decision-making power for the appraiser.</em>  A properly
  trained appraiser can produce results that are shockingly good in about 5 minutes
  or so.  Literally, no other solution on the market comes close to matching the <em>
  accuracy, speed, flexibility, and reporting</em> capabilities that PAIRS provides
  at a fraction of the cost.
  </p>
  </div><!--

  --><div class="columns-2">
  <p class="youtube-container">
  <div class="youtube-video">
    <iframe frameborder="0" allowfullscreen="allowfullscreen"
            src="https://youtube.com/embed/Vo4-7tGlHIM?autoplay=0&controls=2&showinfo=0&enablejsapi=0">
    </iframe>
  </div>
  </p>
  </div>

  <h2>Flexible Workflow</h2>

  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/analysis-progress.png">
  </div><!--

  --><div class="columns-2-3">
  <p>
  PAIRS provides a flexible workflow process that provides structure to the analysis process, but also allows the appraiser to quickly jump to any portion of the analysis process to view or apply changes.  The primary workflow mechanism also serves as a progress indicator for the analysis, as shown in the first screenshot.
  </p>

  <p>Each page contains <em>Previous:</em> and <em>Next:</em> links for moving relatively through the workflow, as well as being able to hop out of the workflow using the <em>breadcrumbs</em> links (see: <em>You are here:</em> on any page).
  </p>
  </div>

  <h2>Full Market Analysis</h2>

  <p>
  Appraisers historically use a very small number of <em>comparable sales</em>
  (known as <em>comparables</em> or <em>comps</em>), used to demonstrate (or
  sometimes justify) the assessment of value for a <em>subject property,</em> the
  real property being appraised.  This approach to selecting comps, often using only
  3 to 5 samples, leads to a well-understood quality degradation known as
  <em>selection bias,</em> sometimes referred to as <em>cherry-picking data</em> to
  get the pre-conceived results.
  </p>

  <p>
  GandySoft PAIRS <em>eliminates selection bias</em> by using methods that work well
  with the larger sets of data that encompass the <em>entire market</em> of
  comparable sales.  Appraisers can choose to upload all sales records and current
  listings from their MLS, typically in CSV format.  PAIRS will automatically
  recognize the fields from the CSV, normalize the data values, convert disparate
  fields into discrete <em>property features,</em> and eliminate unnecessary or
  unused fields from the analysis.
  </p>

  <p>
  <div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-1-upload-instructions.png">
    <figcaption>Upload instructions</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-2-data-browser.png">
    <figcaption>Data browser</figcaption>
  </div><!--
  --><div class="columns-3">
    <img class="screenshot" src="/images/gandysoft/data-3-fields.png">
    <figcaption>Fields manager</figcaption>
  </div>
  </p>

  <p>
  This provides a broader set of "normal" sales for the market, which greatly
  <em>improves statistical reliability</em>, but also introduces the possibility of
  anomalous and/or bad MLS data that must be dealt with.  MLS data is notoriously
  unreliable, and the relatively low quality of the data poses a major challenge to
  any form of analysis.  PAIRS provides a variety of <em>dynamic filtering</em>
  mechanisms, which gives the appraiser the ability to remove (filter out) data
  that's unreliable, wrong, or truly not comparable with the subject property.
  </p>

  <p>
  PAIRS allows the appraiser to <em>select any number of property features</em> to
  analyze for the market, giving the ability to <em>test and account</em> for any
  property feature's <em>contribution to market value.</em>  Common property
  features that contribute to value would be an extra bedroom, an additional garage
  bay, or a pool; however the ability to analyze the contribution of exceptional,
  <em>high-impact property features</em> such as an <em>ocean or lake view, golf
  course frontage, or condo floor level</em> give PAIRS a level of analytic control
  that's truly leading-edge.
  </p>

  <p>
  As the <em>appraiser chooses</em> dynamic filters and fields, PAIRS will calculate
  key information automatically, including the <em>Annualized Market Rate,</em> the
  prior <em>12-month Market Rate,</em> and statistical results for all selected
  property features.  The appraiser can <em>override automatic calculations</em> at
  will, giving complete control over the final analysis; all overrides are accounted
  in the final reports.
  </p>
</section>

<script type="text/javascript">
  jQuery(document).on('turbolinks:load', onGandySoftShowReady);
</script>
