<section id="links">
  <h2>More Sites to Find Michael</h2>

  <ul>
    <li><img src="https://linkedin.com/favicon.ico"><a href="https://linkedin.com/in/mgaskill">https://linkedin.com/in/mgaskill</a></li>
    <li><img src="https://github.com/favicon.ico"><a href="https://github.com/mgaskill">https://github.com/mgaskill</a></li>
    <li><img src="https://stackoverflow.com/favicon.ico"><a href="http://stackoverflow.com/users/2577852/michael-gaskill">http://stackoverflow.com/users/2577852/michael-gaskill</a></li>
    <li><img src="https://quora.com/favicon.ico"><a href="https://quora.com/profile/Michael-Gaskill">https://quora.com/profile/Michael-Gaskill</a></li>
    <li><img src="https://facebook.com/favicon.ico"><a href="https://facebook.com/cantilever.soup">https://facebook.com/cantilever.soup</a></li>
    <li><img src="https://crunchbase.com/favicon.ico"><a href="https://crunchbase.com/person/michael-gaskill">https://crunchbase.com/person/michael-gaskill</a></li>
  </ul>
</section>
