<section id="<%= @showcase.slug %>">
<% if @page.slug != "main" %>
<div class="breadcrumb">Back to <%= link_to @showcase.name, "/#{@showcase.slug}" %></div>
<% end %>

<%= @page.description.html_safe %>
</section>

<script type="text/javascript">
  jQuery(document).on('turbolinks:load', onShowcaseReady);
</script>
