// Main controller styles

section#links {
  ul {
    li {
      position: relative;
      margin: 5px 0;

      img {
        width: 16px;
        height: 16px;
        margin: 5px 10px;
      }

      img + a {
        position: relative;
        top: -6px;
      }
    }
  }
}

section#main {
  a {
    &:hover {
      img {
        border-color: lightgray;
      }
    }
  }

  img {
    width: 250px;
    height: 250px;
    border: 3px solid #606060;
    margin: 25px;
  }
}

section#gandysoft {
  text-align: justify;

  .youtube-video {
    margin: 0 auto;
    overflow: hidden;
    width: 450px;
    height: 253px;  // 0.5625 of width
  }

  img {
    width: 200px;
    margin: 0 auto;
    display: block;
    border: 3px solid #606060;
  }
}
